{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block titile%}{%endblock%}</title>
    <!doctype html>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" />
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
        <!-- component from https://tailwindcomponents.com/component/sidebar-navigation -->

<div class="min-h-screen flex flex-row bg-gray-100">
  <div class="flex flex-col w-56 bg-white rounded-r-3xl overflow-hidden">
    <div class="flex items-center justify-center h-20 shadow-md">
      <a href="{% url 'feed:index' %}"
      <h1 class="text-3xl uppercase text-indigo-500">Blup</h1>
    </div>
    <ul class="flex flex-col py-4">
      <li>
        <a href="/" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
          <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class="bx bx-home"></i></span>
          <span class="text-sm font-medium">Home</span>
        </a>
      </li>
      <li>
        <a href="{% url 'feed:new' %}" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800 js-toggle-modal">
          <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class="bx bx-message-square-add"></i></span>
          <span class="text-sm font-medium">Make a new post</span>
        </a>
      </li>
      {% if request.user.is_authenticated%}
      <li>
        <a href="{% url 'account_logout' %}" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
          <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class="bx bx-log-out"></i></span>
          <span class="text-sm font-medium">Logout</span>
        </a>
        </li>
        {%else%}
        <li>
            <a href="{% url 'account_login' %}" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
              <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class="bx bx-log-in"></i></span>
              <span class="text-sm font-medium">Login</span>
            </a>
            </li>

        {%endif%}
      
    </ul>
  </div>
  <div class="m-1 p-16">
      {% block body %}
          {% block content%}{%endblock%}
      {% endblock body %}
  </div>






{% if request.user.is_authenticated%}
<!-- component  https://tailwindcomponents.com/component/modal-10 -->
<div class="bg-gray-800 bg-opacity-75 flex justify-center items-center absolute top-0 right-0 bottom-0 left-0 hidden  js-modal">
  <div class="bg-white px-16 py-14 rounded-md text-center" style="width:50rem;">
    <h1 class="text-xl mb-4 font-bold text-slate-500">Create new post</h1>
    <div class='w-full'>
        <h3>Titile</h3>
        <textarea data-post-url="{% url 'feed:new' %}" class="w-full border-2 border-blue-500 my-4  js-post-title" rows='1' maxlength="35" placeholder="Enter your title"></textarea>
        <h3>Text</h3>
        <textarea data-post-url="{% url 'feed:new' %}" class="w-full border-2 border-blue-500 my-4  js-post-text" rows='5' maxlength="240" placeholder="Enter your text"></textarea>
    </div>
    <button class="  shadow-indigo-200 shadow-lg font-medium active:shadow-none active:scale-95 hover:bg-green-600 focus:bg-indigo-600 focus:ring-2 focus:ring-indigo-600 focus:ring-offset-2 disabled:bg-gray-400/80 disabled:shadow-none disabled:cursor-not-allowed transition-colors duration-200   bg-red-500 px-4 py-2 rounded-md text-md text-white js-toggle-modal " type='button'>Cancel</button>
    <button class="shadow-indigo-200 shadow-lg font-medium active:shadow-none active:scale-95 hover:bg-green-600 focus:bg-indigo-600 focus:ring-2 focus:ring-indigo-600 focus:ring-offset-2 disabled:bg-gray-400/80 disabled:shadow-none disabled:cursor-not-allowed transition-colors duration-200    bg-indigo-500 px-7 py-2 ml-2 rounded-md text-md text-white font-semibold js-sub-form " type='button'>Submit</button>
  </div>
</div>
{% endif %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer">
  
</script>
<script src="{% static "js/main.js" %}"></script>



</div> 
</body>
</html>